{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/automate" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="description" placeholder="Description" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="amount" placeholder="Amount" type="text"> €
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="day" placeholder="Day" type="number" min="1" max="31">
        </div>
        <label for="typology">Select typology:</label>
        <select name="typology">
            <option disabled selected value="">Typology</option>
            {% for type in typology %}
                <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-primary" type="submit">Add recurrent payment</button>
    </form>


{% endblock %}