{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/search" method="post">
        <label for="description">Select transaction:</label>
        <select name="description">
            <option disabled selected value="">Transaction</option>
            {% for transaction in transactions %}
                <option value="{{ transaction.description }}">{{ transaction.description }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Search">

    </form>


{% endblock %}